/* 一言彩色css */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.3);
    padding: 20px;
    float: right;
}
footer a {
    animation: footercolor 24s infinite -2s;
    color: rgb(254, 241, 0);
}
@keyframes footercolor {
    0% {color: #FEF100;}
    4.2% {color: #FBC701;}
    8.4% {color: #F49600;}
    12.6% {color: #EB6100;}
    16.8% {color: #E50112;}
    21% {color: #E70034;}
    25.2% {color: #E50150;}
    29.4% {color: #E50069;}
    33.6% {color: #E5007E;}
    37.8% {color: #BE0181;}
    42% {color: #930784;}
    46.2% {color: #601884;}
    50.4% {color: #1D2087;}
    54.6% {color: #01479D;}
    58.8% {color: #0168B7;}
    63% {color: #0186D1;}
    67.2% {color: #02A0E9;}
    71.4% {color: #019FC2;}
    75.6% {color: #019E97;}
    79.8% {color: #009B6B;}
    84% {color: #009A44;}
    88.2% {color: #25AB3A;}
    92.4% {color: #8FC320;}
    96.8% {color: #D0DC00;}
    100% {color: #FEF100;}
}
