/* 超链接的访问效果 */
.start a:link {
    /* 常规效果 */
    color: #000000;
    text-decoration: none;
}
.start a:visited {
    /* 已经访问后效果 */
    color: #000000;
    text-decoration: none;
}
.start a:hover {
    /* 鼠标移至其上方效果 */
    color: #39C5BB;
    text-decoration: none;
}
.start a:active {
    /* 鼠标未释放时效果 */
    color: #39C5BB;
    text-decoration: underline;
}