/* 超链接的访问效果 */
a {
    color: #000;
    text-decoration: none;
}
a:hover,
a:active {
    color: #39C5BB;
    text-decoration: underline;
}

/* 回到顶部按钮 */
.up{
    float: right;
    position: fixed;
    height: 100px;  
    width: 100px;
    top: 65%;
    right:5px;
}