nav {
background-color: #E8ECEB;
overflow: hidden;
}

nav ul {
margin: 2%;
padding: 0;
list-style: none;
display: flex;  /* 使用Flex布局 */
}

nav li {
margin-right: 2%;
}

nav li a {
color: #000;
padding: 10px;
text-decoration: none;
font-weight: normal;
white-space: nowrap;  /* 避免文字换行 */
width: 100%
}

nav li a:hover {
color: #000;
background-color: #39C5BB;
text-decoration: underline;
font-weight: bold;
}