main * {
  box-sizing: border-box;
  position: relative;
}
main .left {
  float: left;
  width: 75%;
}
main aside {
  float: left;
  width: 25%;
  padding-left: 20px;
}
@media screen and (max-width: 800px) {
  main .left,
  main aside {
    width: 100%;
    padding: 0;
  }
}
.up{
  float: right;
  position: fixed;
  width: 100px;
  height: 100px;
  top: 65%;
  right: 5px;
}
@media (max-width: 600px) {
  .up{
    transform: scale(0.7);
  }
}
