nav {
  box-sizing: border-box;
  background-color: #e8eceb;
  overflow: hidden;
}
nav ul {
  margin: 2%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
nav li {
  padding: 15px;
}
nav li:hover {
  background-color: #39c5bb;
  text-decoration: underline;
  font-weight: bold;
}
nav li a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
  white-space: nowrap;
  width: 100%;
}
nav li:hover a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
  white-space: nowrap;
  width: 100%;
}
